<div class="container-fluid">
	<div class="row navbar-fixed-top nav-colour">
		<div class="col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-sm-11 col-md-3 col-xs-11">
			<h1 class="brand text-center">eSTI</h1>
		</div>
		<div class="col-sm-12 col-md-8 col-xs-12">
			<div class="right">
				<ul>
					<li><a href="#home" class="nav-links">Pocetna</a></li>
				  <li><a href="#about" class="nav-links">O Spolnom Zdravlju</a></li>
				  <li><a href="#diseases" class="nav-links">Bolesti</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="web-back" id="home">
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 center-text set-style text-improve">
				<b class="bold-font">U borbi protiv spolno prenosivih infekcija, primarni oblik odbrane je prepoznavanje i sprječavanje nastanka i širenja</b>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</div>
<div class="container" id="about">

<div class="row">
	<div class="col-lg-1 col-md-1"></div>

		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-improve gray-back">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
				<h1 class="text-center seperate-top-bottom">O SPOLNOM ZDRAVLJU</h1>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Spolno zdravlje</h3>
				<p>-</p>
				<p>Spolno zdravlje je stanje fizičke, emocionalne i mentalne ravnoteže povezano sa odsustvom spolno prenosivih infekcija kao i adekvatanim pristupom seksualnosti i seksualnim vezama. Da bi sačuvali spolno zdravlje, potrebno je naučiti prevenirati i prepoznati spolno prenosive infekcije na vrijeme.</p>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Spolno prenosive infekcije</h3>
				<p>-</p>
				<p>Spolno prenosive infekcije su infekcije koje se dominantno prenose putem spolnog odnosa. Mogu se prenijeti i putem krvi i zaraženih predmeta te sa majke na dijete. Najčešće su sifilis, gonoreja, klamidija i trihomonijaza, hepatitis B, HIV, genitalni herpes, i HPV.</p>
			</div>
		</div>
		<div class="col-lg-1 col-md-1"></div>
</div>	

<div class="row">
	<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 text-improve gray-back">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Rizici za oboljenje</h3>
				<p>-</p>
				<p>Jedan od glavnih faktora rizika je seksualno rizično ponašanje koje uključuje stupanje u spolne odnose sa različitim partnerima te stupanje u spolni odnos bez kondoma. Također, rizici rastu kod upotrebe zajedničkih igala i kod nepažnje medicinskog osoblja prilikom rukovanja sa zaraženim instrumentima.</p>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Mjere prevencije</h3>
				<p>-</p>
				<p>Mjere prevencije su: apstinencija, vakcinacija, monogamija i korištenje kondoma. Ukoliko osoba primijeti neku promjenu  koju može povezati sa nekom od opisanih infekcija, potrebno je da se javi svom ljekaru opće prakse, ginekologu ili u najbliže savjetovalište za spolno prenosive infekcije.</p>
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
</div>

<div class="container" id="diseases">
	<div class="row seperate-top-bottom text-center"> 
		<h1>Bolesti</h1>
	</div>
</div>
<div class="container seperate-top-bottom">
	<div class="row">
		<div class="col-lg-1 col-md-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div *ngFor = "let data of illnesses">
					<div class="text-center buttons-charm slight-seperate col-lg-12 col-md-12 col-sm-3 col-xs-3 "(click)="myEvent($event, data.title)">
						<p class="link-name ">{{data.title}}</p>
					</div>
				</div>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 gray-back">
				<h1>{{elementToShow.title}}</h1>

				<h3>{{elementToShow.subtitle1}}</h3>
				<p>{{elementToShow.content1}}</p>

				<h3>{{elementToShow.subtitle2}}</h3>
				<p>{{elementToShow.content2}}</p>

				<h3>{{elementToShow.subtitle3}}</h3>
				<p>{{elementToShow.content3}}</p>

				<h3>{{elementToShow.subtitle4}}</h3>
				<p>{{elementToShow.content4}}</p>

				<h3>{{elementToShow.subtitle5}}</h3>
				<p>{{elementToShow.content5}}</p>

				<h3>{{elementToShow.subtitle6}}</h3>
				<p>{{elementToShow.content6}}</p>

				<h3>{{elementToShow.subtitle7}}</h3>
				<p>{{elementToShow.content7}}</p>
			</div>
			<div class="col-lg-2 col-md-2"></div>
		</div>
	</div>
</div>

<div class="container-fluid seperate-top-bottom">
	<div class="row seperate-top-bottom black-back">
		<div class="col-lg-2 col-md-2">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
			<p class="footer-text">Email: lorem@ipsum.com</p>
			<p class="footer-text">Telefon: 000212412412412</p>
			<p class="footer-text">Info: neki web nesto</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
			<p class="footer-padd footer-text">Lorem Ipsum</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
			<p class="footer-padd footer-text">
				<img src="assets/pictures/48x48.png">
			</p>
		</div>
		<div class="col-lg-2 col-md-2">
		</div>
	</div>
</div>